# Ignore logs directory
logs/

# Ignore test directory
test/

# Ignore Python cache directories
__pycache__/
*/__pycache__/
**/__pycache__/

# Ignore environment variables file
api_utils/.env
.env

# Python virtual environment
venv/
env/
.venv/
.env/

# IDE files
.idea/
.vscode/

# Python bytecode
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/ 

# Ignore all temporary files
temp/

# Ignore all checklists and evaluations
checklists/
evaluations/
auto_evaluation_results/
.summarize_submission 관련/


