# Ignore logs directory
logs/

# Ignore test directories
test/
auto_evaluation_results/
summarize_submission_관련/
RAG결과물/
rag_utils/

# Ignore Python cache directories
__pycache__/
*/__pycache__/
**/__pycache__/

# Ignore environment variables file
api_utils/.env
.env

# Python virtual environment
venv/
env/
.venv/
.env/

# IDE files
.idea/
.vscode/

# Python bytecode
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/ 

# Ignore all temporary files
temp/



# Ignore all files inside the checklists, evaluations, and summary folder
checklists/*
evaluations/*
summary/*

# Except base AI_Hub Checklists
!checklists/논술형_checklist.json
!checklists/수필형_checklist.json


